<ion-view title="Buy" hide-nav-bar="true" id="page2" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
    <div id="buy-markdown16" class="show-list-numbers-and-dots">
      <p style="color:#006938;">Balance:
        <strong>{{ info.value.balance }}</strong>
      </p>
    </div>
    <div>
      <div align="center">
        <qrcode data="{{ slot.value }}" size="150" align="center"></qrcode>
      </div>
      <br>
    </div>
    <div id="buy-markdown11" class="show-list-numbers-and-dots">
      <p style="color:#006938;">Greens Code:</p>

      <blockquote>
        <p style="color:#006938;">{{ addSpaces(slot.value) }}</p>
      </blockquote>
    </div>
    <div style="margin-right:-20px;">
      <button id="buy-button11" ng-click="refresh()" style="left:-10px;color:none;" class="button button-stable button-full button-clear">Next Purchase</button>
    </div>
  </ion-content>
</ion-view>