<ion-view title="Reload" hide-nav-bar="true" cache-view="false" id="page4" style="background-color:#FFFFFF;">
  <ion-content padding="false" class="manual-ios-statusbar-padding">
    <form id="reload-form4" class="list">
      <label class="item item-input" id="reload-input14">
        <span class="input-label">$</span>
        <input type="number" placeholder="$500 Max" ng-model="out.amount">
      </label>
      <div class="spacer" style="width: 320px; height: 15.9744px;"></div>
      <div class="spacer" style="width: 320px; height: 12.9886px;"></div>
      <div class="spacer" style="width: 320px; height: 11.9915px;"></div>
      <button id="reload-button12" ng-click="submit(this)" class="button button-balanced button-block">{{ output }}</button>
    </form>
  </ion-content>
</ion-view>