<ion-view title="Reload" hide-nav-bar="true" cache-view="false" id="page4" style="background-color:#FFFFFF;">
  <ion-content padding="false" class="manual-ios-statusbar-padding">
    <div id="reload-markdown18" class="show-list-numbers-and-dots">
      <p style="color:#006938;">Balance:
        <strong>{{ info.value.balance }}</strong>
      </p>
    </div>
    <div id="reload-markdown17" ng-show="info.value.profileSaved" class="show-list-numbers-and-dots">
      <p style="color:#006938;"> Card:
        <strong>{{ info.value.profileSaved.profile.paymentProfiles[0].payment.creditCard.cardNumber || 'Error reading saved info' }}</strong>
      </p>
    </div>
    <form id="reload-form4" class="list" ng-submit="selectAction()">
      <button id="reload-button12" type="submit" class="button button-balanced button-block">{{ override?override:(buttonPressed? (out.amount?(info.value.profileSaved?"Accept &amp; Use Saved Card":"Accept &amp; Add Card Information"):"Enter a value, or check amount") : "Begin New Deposit") }}</button>
      <button id="reload-button10" ng-click="removeProfile()"
        ng-show="info.value.profileSaved" class="button button-balanced button-block button-outline">Remove Saved Information</button>
      <div id="reload-container2" ng-show="buttonPressed">
        <form id="reload-form8" class="list">
          <label class="item item-input" id="reload-input14">
            <span class="input-label">Amount</span>
            <input type="number" placeholder="$500 Max" ng-model="out.amount" step="0.01" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" min="0.01" max="500">
          </label>
          <label class="item item-input" id="reload-input17">
            <span class="input-label">Deposit Fee</span>
            <input type="text" placeholder="" ng-model="fee" ng-disabled="true">
          </label>
          <ion-checkbox id="reload-checkbox1" ng-model="out.saveInfo" ng-show="!info.value.profileSaved" value="&quot;yes&quot;">Save Payment Information</ion-checkbox>
          <div class="spacer" style="height: 100px;"></div>
        </form>
      </div>
    </form>
  </ion-content>
</ion-view>