<ion-view title="Page" id="page9">
  <ion-content padding="true" class="has-header">
    <div id="page-button-bar1" class="button-bar">
      <button id="page-button19" ng-click="tip = pct5" style="font-size:12px;" class="button button-balanced button-block button-outline">{{ pct5.toFixed(2) }}</button>
      <button id="page-button20" ng-click="tip =  pct10" style="font-size:12px;" class="button button-balanced button-block button-outline">{{ pct10.toFixed(2) }}</button>
      <button id="page-button21" ng-click="tip = pct15" style="font-size:12px;" class="button button-balanced button-block button-outline">{{ pct15.toFixed(2) }}</button>
      <button id="page-button22" ng-click="tip = pct20" style="font-size:12px;" class="button button-balanced button-block button-outline">{{ pct20.toFixed(2) }}</button>
    </div>
    <form id="page-form7" class="list">
      <label class="item item-input" id="page-input16">
        <span class="input-label">Tip</span>
        <input type="number" placeholder="" step="0.01" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" ng-model="tip">
      </label>
    </form>
  </ion-content>
</ion-view>