<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>130094297488-tq4ad8m1bl05f5fqs49q3mjlu83ked3l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.130094297488-tq4ad8m1bl05f5fqs49q3mjlu83ked3l</string>
	<key>API_KEY</key>
	<string>AIzaSyDz2EOTH8DwFbjdy1KK44yP9aKd905Etng</string>
	<key>GCM_SENDER_ID</key>
	<string>130094297488</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cards.greens</string>
	<key>PROJECT_ID</key>
	<string>greenscard-177506</string>
	<key>STORAGE_BUCKET</key>
	<string>greenscard-177506.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:130094297488:ios:0a440502582c34b3</string>
	<key>DATABASE_URL</key>
	<string>https://greenscard-177506.firebaseio.com</string>
</dict>
</plist>