<ion-view title="Capture" hide-nav-bar="true" cache-view="false" nav-transition="none" id="page8" style="background-color:none;" class="secured">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <form id="capture-form5" class="list">
      <ion-toggle toggle-class="toggle-balanced" id="capture-toggle1" name="transType" ng-model="out.refund">{{ (out.refund?"Refund":"Sale") }}</ion-toggle>
      <label class="item item-input" id="capture-input7">
        <span class="input-label">Amount</span>
        <input type="number" placeholder="$" ng-model="out.amount" step="0.01" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" min="0.01" max="500">
      </label>
      <label class="item item-input item-floating-label" id="capture-input9">
        <input type="text" placeholder="Greens Code" ng-model="out.slot" ng-show="out.amount">
      </label>
      <button id="capture-button4" ng-click="manualRequest(out.slot)" ng-show="out.slot" class="button button-balanced button-block icon-right ion-android-send">Request Payment</button>
      <button id="capture-button13" ng-show="output" style="color:#192F24;" class="button button-energized button-block">{{ output }}</button>
    </form>
  </ion-content>
</ion-view>